.card{
    width: 300px;
    height: 350px;
    white-space: normal;
    background-color:#ffffff;
    grid-template-columns: 1;



}

#text-infomation{
background: #dedede;
background: linear-gradient(0deg,rgba(222, 222, 222, 1) 0%, rgba(0, 0, 0, 0.25) 100%);


  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 20px 20px;
  border-radius: 0px 0px 15px 15px;
}

.card h4{
    font-size: 1em;

}


.card img{
    height: 160px;
    border-radius:  15px 15px 0px 0px; 
    

}


.card button{
    text-align: center;
    width: 100%;
    border-radius: 3px;
    font-size: 1em;
    padding: 3px 3px 3px 3px;
    border-radius: 3px;
    text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

